{% extends 'catalog/home.html' %}
{% load my_tags %}
{% load static %}
{% block content %}
<div class="row text-center">
    <a class="btn mb-3 btn-lg btn-block btn-outline-primary" href="{% url 'catalog:blog_create'%}"
       role="button">Добавить запись</a>
    {% for object in object_list %}
    <div class="col-4 col-xs-12">
        <div class="card mb-3 box-shadow">
            {% if object.preview %}
            <img src="{{ object.preview | media_filter }}" class="img-fluid">
            {% else %}
            <img src="{% static 'images/default.jpg' %}">
            {% endif %}
            <div class="card-header">
                <h5 class="my-0 font-weight-normal">{{ object.title }}</h5>
            </div>
            <div class="card-body">
                <p class="card-text">{{ object.content |truncatechars:40}}</p>
                <h4 class="card-text"> {{ object.count_views }} просмотров </h4>
                <a class="btn btn-primary" role="button"
                   href="{% url 'catalog:blog_info' object.slug %}">Подробнее</a>
                <a class="btn btn-primary" role="button"
                   href="{% url 'catalog:blog_update' object.slug %}">Редактировать</a>
                <a class="btn btn-danger" role="button"
                   href="{% url 'catalog:blog_delete' object.slug %}">Удалить</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}