{% extends 'catalog/home.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <form class="row" method="post" enctype="multipart/form-data">
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">
                        {% if not object %}
                        Опубликовать
                        {% else %}
                        Сохранить
                        {% endif %}
                    </button>
                    <a class="btn btn-primary" role="button" href="{% url 'catalog:blog_list' %}">Отмена</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}