{% extends 'catalog/home.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <form class="row" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-body">
                    <h5 class="my-0 font-weight-normal">Удалить запись - {{ object.title }}</h5>
                    <a class="btn btn-primary" role="button" href="{% url 'catalog:blog_list' %}"
                       role="button">Отмена</a>
                    <button type="submit" class="btn btn-primary">Удалить</a></button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}