{% extends 'catalog/home.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <form class="row" method="post" enctype="multipart/form-data">
                <div class="card-body">
                    {% csrf_token %}
                    <h5 class="my-0 font-weight-normal">Удалить продукт - {{ object.name }}</h5>
                    <a class="btn btn-primary" role="button" href="{% url 'catalog:product_list' %}">Отмена</a>
                    <button type="submit" class="btn btn-danger">Удалить</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}