{% extends 'catalog/home.html' %}
{% load my_tags %}
{% load static %}
{% block content %}

<div class="row text-center">
    {% if user.is_authenticated %}
    <a class="btn mb-3 btn-lg btn-block btn-outline-primary" href="{% url 'catalog:product_create'%}"
       role="button">Добавить продукт</a>
    <div class="container">
        <div class="row text-center">
            {% for object in object_list %}
            <div class="col-4">

                <div class="card mb-4 box-shadow">
                    {% if object.image %}
                    <img src="{{ object.image | media_filter }}">
                    {% else %}
                    <img src="{% static 'images/default.jpg' %}">
                    {% endif %}
                    <div class="card-header">
                        <h5 class="my-0 font-weight-normal">{{object.name}}</h5>
                        <h6 class="my-0 font-weight-normal">{{object.description | truncatechars:40}}</h6>
                        <h6 class="my-0 font-weight-normal">Код товара: {{object.product_id}}</h6>
                        {% for version in object.version.all %}
                        {% if version.current_version %}
                        <div class="text">
                            Номер версии: {{version.version_number}}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="card-body">
                        <h6 class="card-title pricing-card-title">Цена: {{object.price}}</h6>
                        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
                        <div class="card-body">
                            <a class="btn mb-1 btn-lt btn btn-primary" role="button"
                               href="{% url 'catalog:product_info' object.pk %}">Подробнее</a>
                            <a class="btn mb-1 btn-lt btn btn-primary" role="button"
                               href="{% url 'catalog:product_update' object.pk %}">Редактировать</a>
                            <a class="btn mb-1 btn-lt btn btn-primary" role="button"
                               href="{% url 'catalog:product_delete' object.pk %}">Удалить</a>
                        </div>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="col-6 col-md">
        <h3>Для просмотра продуктов выполните вход</h3>
        <img src="{% static 'images/default.jpg' %}">
        {% endif %}
    </div>
    {% endblock %}
